* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Arial';
  background-color: #0d0d0d;
  color: #f5f5f5;
  line-height: 1.6;
  padding: 30px;
  max-width: 800px;
  margin: auto;
}
img {
  display: block;
  margin: 20px auto;  
  width: 80%;          
  border-radius: 10px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: #e50914;

}
p {
  font-size: 17px;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}
