* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial";
  background-color: #000; 
  color: #e0ffe0;
  line-height: 1.6;
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #00ff88; 
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  color: #00ff88;
  margin: 25px 0 10px;
  border-bottom: 2px solid #00ff88;
  padding-bottom: 5px;
}

#sobreMim {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

#sobreMim img {
  width: 200px;
  height: 200px;
  border: 2px solid #00ff88;
}

#sobreMim p {
  font-size: 16px;
  text-align: justify;
  color: #ccffcc;
}

hr {
  border: none;
  height: 2px;
}

ul, ol {
  margin-left: 40px;
  color: #aaffaa;
}

li {
  margin-bottom: 8px;
}

table {
  width: 100%;
  margin-top: 15px;
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.3);
}

th, td {
  border: 1px solid #00ff88;
  padding: 10px;
  text-align: center;
 background-color: #001a0d;
  color: #ccffcc;
}

th {
  text-transform: uppercase;
}


