* {
  padding: 0;
  margin: 0;
  top: 0;
}

body{
  background-color:  rgb(0, 51, 34);
  color: white;
}
img {
  width: 250px;
  padding-left: 150px;
}
#sobreMim{
  display: flex;
}
p{
  padding-top: 100px;
  width: 450px;
  padding-left: 30px;
}
h1{
  text-align: center;
}