* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(0, 51, 34);
  font-family: Arial, Helvetica, sans-serif;
}
table{
  margin: 0 auto;
  width: 800px; 
}
img{
  width: 180px;
  box-shadow: 10px 5px 5px black;
  border-radius: 10px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
#botoes{
  display: flex;
  gap: 20px;

}
.A{
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
  padding: 10px 20px;
  

}
.A:hover{
  background-color: #009879;
}

td{
  width: 200px;
  padding: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
td:hover{
  opacity: 0.8;
  color: rgb(255, 255, 255);
  transform: scale(1.1); 
}
.saibaMais{
  color: rgb(173, 255, 47);
}

h2{
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px black;
  margin-top: 30px;
}
footer{
  text-align: center;
}