body{
  padding: 0;
  margin: 0;
  top: 0;
  background-color: rgb(0, 51, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
#divi{
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#formi{
  display: flex;
  flex-direction: column;
}

h3{
  margin-bottom: 20px;
}
label{
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}
input{
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}


#lembrar{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
button{
  background-color: #00b894;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

footer{
  position: absolute;
  width: 100%;
  font-size: 25px;
  bottom: 0;
  text-align: center;
}